@import "tailwindcss";

body {
  background-color: #eff6ff;
  font-family: sans-serif;
}

h1 {
  font-family: serif;
}

nav {
  z-index: 999;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.4s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

.slide-down {
  animation: slideDown 0.3s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}
